<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 20px;
    }

    form {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    label {
      display: inline-block;
      width: 150px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input[type="text"],
    input[type="file"],
    input[type="number"]{
      width: 500px;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    input[type="file"] {
      padding-top: 4px;
    }

    input[type="submit"] {
      background-color: #5f2ed2;
      color: white;
      border: none;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 4px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="authorName">Author: </label>
    <input type="text" name="authorName" id="authorName"><br><br>

    <label for="authorAbout">About Author: </label>
    <input type="text" name="authorAbout" id="authorAbout"><br><br>

    <label for="bookName">Book Title: </label>
    <input type="text" name="bookName" id="bookName"><br><br>

    <label for="bookAbout">About Book:</label>
    <input type="text" name="bookAbout" id="bookAbout"><br><br>

    <label for="bookPubYear">Publication Year: </label>
    <input type="number" name="bookPubYear" id="bookPubYear"><br><br>

    <label for="File">File: </label>
    <input type="file" name="uploaded_file" id="bookFile"><br><br>
    
    <input type="submit" value="Submit">
  </form>
</body>
</html>
